img{
  height: auto;
  max-width: 50%;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text */
.container{
  position: relative;
  text-align: center;
  color: #f2f2f2;
}

/* .intro{
  position: absolute;
  top:50%;
  left:15%;
  transform: translate(-50%,-50%);
} */

.campus .cats{
  position: relative;
  text-align: center;
}

.description{
  position: relative;
  text-align: center;
}

.video{
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

h1,h2,h3,h4,body{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

tr{
  font-family: 'Roboto', sans-serif;
}

td{
  font-family: 'Roboto', sans-serif;
}

/* .topnav{
  background-color: #333333;
  overflow: hhidden;
}

.topnav a{
  float: left;
  color:#f2f2f2;
  text-align:center;
  padding:16px 16px;
  font-size: 16px;
}

.topnav a:hover{
  background-color: #dddddd;
  color:#000000;
}
.topnav a.active{
  background-color: #0884ef;
  color:white
} */

/* https://www.youtube.com/watch?v=-UxqoVQsvCA */
.navigation{
  background-color: #041347;
  border-radius:4px;
  list-style: none;
  margin:0px;
  padding: 0px;
  overflow: auto;
}

.navigation li{
  float: left;
  font-family: 'Roboto', sans-serif;
}

.navigation li a{
  display: block;
  text-decoration: none;
  color:#f2f2f2;
  padding: 16px 33px;
}

.navigation li a:hover{
  background-color: #2a3663;
}
