img{
  height: auto;
  max-width: 100%;
  border-radius: 4px;
}

.intro{
  background-image: url(profile.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

h1,h2,h3,h4{
  font-family:;
}
