img{
  height: auto;
  max-width: 100%;
  border-radius: 4px;
}

.intro{
  width: 100%;
  height: 720px;
  background-image: url(media/profile.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

h1,h2,h3,h4{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}
